# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Juan Ignacio\OneDrive - Københavns Erhvervsakademi\Computer Science  - KEA\Tutorials\Nordea_Bank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
